{% extends 'base.html' %}
{% load static %}
{% block head_title %}Careers{% endblock %}
{% block content %}
<section class="container py-5 mt-5" style="min-height: 50vh;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center mt-5">
      <h1 class="mb-4">Careers</h1>
      <p class="lead">Join our team and help us build the future of e-commerce.</p>
      <div class="p-5 bg-light rounded mt-4">
        <h4>Open Positions</h4>
        <p class="mt-3">There are currently no open positions. Please check back later.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
